.next
/next
+.next
/node_modules
/.node_modules
/.vercel
/.vercel
/.vercel/output
/.vercel/output/static
/.vercel/output/functions
/.vercel/output/static-chunks
/.vercel/output/chunks
/.vercel/output/chunks/pages
/.vercel/output/chunks/webpack
/.vercel/output/chunks/webpack/pages
/.vercel/output/chunks/webpack/pages-manifest
/.vercel/output/chunks/webpack/webpack-manifest
/.vercel/output/chunks/webpack/webpack-manifest.json
/.vercel/output/chunks/webpack/webpack-manifest.js
/.vercel/output/chunks/webpack/webpack-manifest.js.map
/.vercel/output/chunks/webpack/webpack-manifest.json.map
/.vercel/output/chunks/webpack/webpack-manifest.json.gz
/.vercel/output/chunks/webpack/webpack-manifest.js.gz               